.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15vh 25vw;
    padding: 2rem;
    background-color: #2b2929;
    color: #f1f1f1;
    box-shadow: 0px 4px 4px 4px #f9faf3;
}
.main-container h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom:20px;

}
.main-form{
    display: flex;
    flex-direction: column;
    width: 500px;
}
.main-form label{
    margin: 0.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-form select{
    height: 2rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
   text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    cursor: default;
    margin: 0em;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    border-radius: 0px;
}
button{
    margin-top: 20px;
    font-size: 1rem;
    width: 200px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: #f3cd5c;
    color: #0f0f0f;
    align-self: center;
    transition: 0.1s all;
}
.main-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-style: italic;
}
.form-group label{
    margin-right:0px !important;
}
.back-link{
    color: green;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10px;
    font-size: 18px;
}
.back-link:hover{
    color: greenyellow;
}